<a mat-stroked-button routerLink="/add">Otel Ekle</a>
<br />
<mat-form-field appearance="outline">
  <mat-label>Sıralama</mat-label>
  <mat-select [ngModel]="0" (ngModelChange)="pickSort($event)">
    <mat-option [value]="1">Puan (Artan)</mat-option>
    <mat-option [value]="2">Puan (Azalan)</mat-option>
  </mat-select>
</mat-form-field>

<div class="container">
  <store-item
    *ngFor="let item of (list$ | async)?.data"
    [item]="item"
    (scoreChange)="changeScore($event)"
    (delete)="remove($event)"
  ></store-item>
</div>

<ng-container *ngIf="list$ | async as list">
  <mat-paginator
    class="listItem"
    *ngIf="list.length > 5"
    [pageSize]="list.pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [length]="list.length"
    (page)="changePage($event)"
  ></mat-paginator>
</ng-container>
